{% extends "index.html" %} {% block content %}

<script>
  // highlight navigation bar button
  $("a.active").removeClass("active");
  $("#nav_a_upload").addClass("active");
</script>

<div class="container my-4 px-0">
  {# explanation of what the page does #}
  <div class="jumbotron">
    <h1>快適性指標を算出</h1>
    <p class="lead">
      このアプリケーションを使用すると、快適性パラメータの大規模なセットをアップロードすることができます。
      このツールは自動的に熱的快適性指数を計算します。
      <a
        href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/upload"
        target="_new"
        ><i class="far fa-question-circle"></i
      ></a>
    </p>
    <hr class="my-4" />
    <h2>使い方</h2>
    <div>
      <p>
        <strong>Step 1 - </strong> 次のリンクからテンプレートをダウンロードしてください。
        <a href="download/template-SI.csv"
          ><em class="fas fa-file-download"></em> SI単位系テンプレート</a
        >.
      </p>
    </div>
    <div>
      <p><strong>Step 2 - </strong> ダウンロードしたCSVファイルを開いて下さい。</p>
      <p class="ml-4">
        各列は一意の入力パラメータを表します。各カラムの名前は変更しないことが重要です。
        参考までに、各テンプレートにはいくつかのサンプルデータが含まれていますので、
        それらをあなたのデータに置き換えてください。もし、あるパラメータのデータがない場合は、
        単純に代表的な定数値ですべての行を埋めてください。例えば、オフィスで研究を行い、
        代謝率を記録しなかった場合、「Metabolic rate[met]」の列に1.2という定数値を
        入力することができます。すべての行に各パラメータの値を入力する必要があります。
      </p>
      <p class="ml-4 font-italic">
        平均風速と衣服の保温性を入力として入力してください。本ツールは、
        移動する居住者の相対風速と動的衣服保温を自動的に計算します。
        これらの値は、結果ファイルの新しいカラムとして追加されます。
      </p>
    </div>
    <div>
      <p>
        <strong>Step 3 - </strong> 下の「ファイルを選択」ボタンをクリックして、アップロードするファイルを選択してください。
        その後、"Upload File "ボタンを押してください。アルゴリズムは、以下のインデックスを自動的に計算します。
      </p>
    </div>
    <div>
      <ul style="columns: 2;">
        <li>
          <a href="https://en.wikipedia.org/wiki/Thermal_comfort#PMV/PPD_method"
            >Predicted Mean Vote (PMV)</a
          >
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Thermal_comfort#PMV/PPD_method"
            >Predicted Percentage Dissatisfied (PPD)</a
          >
        </li>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Thermal_comfort#Standard_effective_temperature"
            >Standard Effective Temperature (SET)</a
          >
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Thermal_comfort#Cooling_Effect"
            >Cooling Effect (CE)</a
          >
        </li>
      </ul>
    </div>
    <div>
      <p>
        <strong>Step 4 - </strong>すべての結果を含む "export.csv "というファイルがブラウザから自動的にダウンロードされます。
        結果は
        <a href="https://pypi.org/project/pythermalcomfort/">
          pythermalcomfort
        </a>
        Pythonパッケージを使用して計算されています。
      </p>
    </div>

    <hr class="my-4" />

    <div>
      <h2><em class="fas fa-file-upload"></em> File Upload</h2>
      <form
        action="/transform"
        method="post"
        enctype="multipart/form-data"
        class="form-inline"
      >
        <div class="input-group-text">
          <input type="file" name="data_file" id="fileToUpload" />
          <input type="submit" value="Upload File" name="submit" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
