{% extends "index.html" %} {% block head %} {{ super() }}
<title>CBE 温熱快適度ツール Use Fans Heatwave</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/common.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/ui.multiselect.css') }}"
/>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/global.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/lib/ui.multiselect.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/lib/ui.selectmenu.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/lib/jquery.scrollTo-min.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/use_fans_heatwaves/use_fans_heatwave_chart.js') }}"
></script>
<script type="text/javascript"></script>
{% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="card col-md-12 col-lg-5 my-2 p-0">
      <div class="card-header">
        入力
      </div>
      <div id="left_content" class="card-body">
        {# Inputs PMV and adaptive #}
        <div id="inputs" class="in">
          <div id="pmv-inputs">
            <div class="row justify-content-between">
              <div class="col-md-4 col-lg-12 p-1">
                <div
                  data-toggle="tooltip"
                  title="平均風速. ツールは自動的に相対風速を計算します."
                >
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Thermal_comfort#Air_speed"
                    target="_new"
                    >風速</a
                  >
                </div>
              </div>
              <div class="col-sm-3 p-1">
                <div class="inputfield">
                  <input class="inputbox" id="vel" />
                  <span class="unit vel-unit"> m/s</span>
                </div>
              </div>
            </div>

            {# metabolic rate #}
            <div id="actInput" class="row justify-content-between in">
              <div class="col-md-4 col-lg-12 p-1">
                <div>
                  <a
                    class="mainlink"
                    href="http://en.wikipedia.org/wiki/Thermal_comfort#Metabolic_rate"
                    target="_new"
                    >代謝当量(METs)</a
                  >
                </div>
              </div>
              <div class="col-sm-3 col-lg-3 p-1">
                <div class="inputfield" id="met_input">
                  <input class="inputbox" id="met" />
                  <span class="unit"> met</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-5" id="actSelectDiv">
                <select class="form-control" id="actSelect"></select>
              </div>
            </div>

            {# clothing #}
            <div id="cloInput" class="row justify-content-between in">
              <div class="col-md-4 col-lg-12 p-1">
                <div
                  data-toggle="tooltip"
                  title="着衣量. ツールは自動的に動的な衣服の値を計算します。"
                >
                  <a
                    class="mainlink"
                    href="https://ja.wikipedia.org/wiki/%E7%9D%80%E8%A1%A3%E9%87%8F"
                    target="_new"
                    >着衣量(Clo値)</a
                  >
                </div>
              </div>
              <div class="col-sm-3 col-lg-3 p-1">
                <div class="inputfield">
                  <input class="inputbox" id="clo" />
                  <span class="unit"> clo</span>
                </div>
              </div>
              <div class="col-lg-6 col-md-5" id="cloSelectDiv">
                <select class="form-control" id="cloSelect"></select>
              </div>
            </div>

            {# custom clothing button #}
            <div
              class="row justify-content-center mt-4 btn-group-toggle"
              data-toggle="buttons"
              data-toggle="tooltip"
              title="居住者が着用していたすべての衣服を特定し、衣服レベルを算出する。"
            >
              <label for="customClo" class="btn btn-light border">
                <input type="checkbox" id="customClo" />任意の組み合わせを作成
              </label>
            </div>

            {# custom clothing interface #}
            <div
              class="row justify-content-center mt-2"
              id="customCloToggle"
              style="display: none;"
            >
              <br />
              <select
                id="cloMultiSelect"
                class="col-sm-12 multiselect"
                multiple="multiple"
              ></select>
              <button id="setClo" class="col-sm-12">Clo値を設定</button>
            </div>

            {# dynamic prediction of clothing interface #}
            <div class="row card text-center m-1" id="dynamicCloToggle">
              <div class="card-body p-1">
                <span class="xx">Outdoor air temperature (6 am)</span>
                <input
                  id="taOut6"
                  maxlength="10"
                  placeholder="0.0"
                  style="height: 20px;"
                />
                <span class="tempunit">&deg;C</span>
                <button id="setDynamicClo">Set clo</button>
              </div>
            </div>
          </div>
        </div>

        {# set of buttons at the bottom #}
        <div class="row justify-content-center mt-2 d-none">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="単位変更"
            >
              <input
                type="radio"
                name="options"
                id="unitsToggle"
                autocomplete="off"
              />
              国際単位系(SI)/帝国単位(IP)
            </label>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="入力を初期値にリセットします"
            >
              <input
                type="radio"
                name="options"
                id="setDefaults"
                autocomplete="off"
              />リセット
            </label>
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="現在の入力を保存"
            >
              <input
                type="radio"
                name="options"
                id="save_state"
                autocomplete="off"
                checked
              />保存
            </label>
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="保存された入力を再読み込み"
            >
              <input
                type="radio"
                name="options"
                id="reload_state"
                autocomplete="off"
                checked
              />再読み込み
            </label>
            <label
              class="btn btn-light border"
              data-toggle="tooltip"
              title="このページを共有"
            >
              <input
                type="radio"
                name="options"
                id="share_state"
                autocomplete="off"
                checked
              />共有
            </label>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-light border">
              <input type="radio" name="options" autocomplete="off" />
              <a
                href="https://center-for-the-built-environment.gitbook.io/thermal-comfort-tool/documentation/fans-heatwaves"
                target="_new"
                >ドキュメント</a
              >
            </label>
          </div>
        </div>
      </div>
    </div>

    <div id="right_content" class="col-md-12 col-lg-7 bg-white py-2">
      {# Show if the point is within the comfort region #}
      <div class="row justify-content-center">
        <div
          class="alert alert-success py-1 m-0 text-center border-0 bg-white"
          role="alert"
          id="output-b"
        >
          <div id="comply-msg"></div>
          <div id="special-msg"></div>
        </div>
      </div>

      {# divider that contains the figures#}
      <div class="row justify-content-center">
        <div
          id="chartWrapperFansHeatwave"
          style="position: relative; height: 500px; width: 500px;"
        >
          <canvas id="use_fans_heatwave_div"></canvas>
        </div>
      </div>

      {# card displaying the notes #}
      <div class="row justify-content-center note-chart">
        <div class="card-body px-5 py-3" id="use_fans_heatwave_note">
          <p>
            <strong>説明:</strong> 緑色の領域は、扇風機の使用が有効な温度と相対湿度の条件を示しており、
            扇風機を使うと涼しく感じます。濃い緑色の部分は、扇風機の使用はまだ有効ですが、
            熱中症になる可能性が高いです。赤い部分は、扇風機の使用を控えた方が良い領域です。
          </p>
          <p>
            These results were calculated using the Gagge et al. (1971) heat
            balance model with modifications as described in the paper.
            <a href="https://ja.wikipedia.org/wiki/%E4%B9%BE%E7%90%83%E6%B8%A9%E5%BA%A6"
              >乾球温度</a
            >
            は
            <a href="https://en.wikipedia.org/wiki/Mean_radiant_temperature"
              >平均放射温度(MRT)</a
            >
            と等しいと仮定した。
            
            結果は健康な成人に適用されます。
            ツールは医学的なアドバイスを提供するものではありません。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  language="javascript"
  src="{{ url_for('static', filename='js/use_fans_heatwaves/use_fan_heatwaves_page.js') }}"
  type="text/javascript"
></script>

{% endblock %}
